<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Amitabh Baidehi</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Bodo - Simple One Page Personal" name="description">
    <meta content="BdgPixel" name="author">
    <!--Fav-->
    <link href={{url_for( 'static',filename='images/favicon.ico' )}} rel="shortcut icon">

    <!--styles-->
    <link href="{{url_for( 'static',filename='css/bootstrap.min.css' )}}" rel="stylesheet">
    <link href="{{url_for( 'static',filename='css/owl.carousel.css' )}}" rel="stylesheet">
    <link href="{{url_for( 'static',filename='css/owl.theme.css' )}}" rel="stylesheet">
    <link href="{{url_for( 'static',filename='css/magnific-popup.css' )}}" rel="stylesheet">
    <link href="{{url_for( 'static',filename='css/style.css' )}}" rel="stylesheet">
    <link href="{{url_for( 'static',filename='css/responsive.css' )}}" rel="stylesheet">

    <!--fonts google-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
       <script type="text/javascript" src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--PRELOADER-->
    <!-- <div id="preloader">
        <div id="status">
            <img alt="logo" src="{{url_for( 'static',filename='images/big-logoab.png' )}}">
        </div>
    </div> -->
    <!--/.PRELOADER END-->

    <!--HEADER -->
    <div class="header">
        <div class="for-sticky">
            <!--LOGO-->
            <div class="col-md-2 col-xs-6 logo">
                <a href="index.html"><img alt="logo" class="logo-nav" src="{{url_for( 'static',filename='images/logo-AB.png' )}}"></a>
            </div>
            <!--/.LOGO END-->
        </div>
        <div class="menu-wrap">
            <nav class="menu">
                <div class="menu-list">
                    <a data-scroll="" href="#home" class="active">
                        <span>Home</span>
                    </a>
                    <a data-scroll="" href="#about">
                        <span>About</span>
                    </a>
                    <a data-scroll="" href="#work">
                        <span>Work</span>
                    </a>
                    <a data-scroll="" href="#services">
                        <span>Services</span>
                    </a>
                    <a data-scroll="" href="#employement">
                        <span>Employement</span>
                    </a>
                    <a data-scroll="" href="#skill">
                        <span>Skills</span>
                    </a>
                    <a data-scroll="" href="#education">
                        <span>Education</span>
                    </a>
                    <a data-scroll="" href="#testimonial">
                        <span>Testimonial</span>
                    </a>
                    <a data-scroll="" href="#blog">
                        <span>Blog</span>
                    </a>
                    <a data-scroll="" href="#contact">
                        <span>Contact</span>
                    </a>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
        <button class="menu-button" id="open-button">
        <span></span>
        <span></span>
        <span></span>
      </button>
        <!--/.for-sticky-->
    </div>
    <!--/.HEADER END-->

    <!--CONTENT WRAP-->
    <div class="content-wrap">
        <!--CONTENT-->
        <div class="content">
            <!--HOME-->
            <section id="home">
                <div class="container">
                    <div class="row">
                        <div class="wrap-hero-content">
                            <div class="hero-content">
                                <h1>Hello</h1>
                                <br>
                                <span class="typed"></span>
                            </div>
                        </div>
                        <div class="mouse-icon margin-20">
                            <div class="scroll"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/.HOME END-->

            <!--ABOUT-->
            <section id="about">
                <div class="col-md-6 col-xs-12 no-pad">
                    <div class="bg-about">

                        <img src="{{url_for( 'static',filename='images/ab1.jpg' )}}" class="image-bg" />



                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 white-col">
                    <div class="row">
                        <!--OWL CAROUSEL2-->
                        <div class="owl-carousel2">
                            <div class="col-md-12">
                                <div class="wrap-about">
                                    <div class="w-content">
                                        <p class="head-about">
                                            Software/Web Developer specializing in front end development. Experienced with all stages of the development cycle for dynamic web projects. Well-versed in numerous programming languages including ASP.net,C#.net,HTML5/CSS,SQL. Strong background in Data
                                            Entry and Data Management with a Good Knowledge of Excel (Pivote table,macros, etc).

                                        </p>

                                        <h5 class="name">
                                            Amitabh Baidehi
                                        </h5>
                                        <img alt="signature" src="{{url_for( 'static',filename='images/signa.png' )}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 white-col">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                                        <div class="wrap-about">
                                            <table class="w-content">
                                                <tr>
                                                    <td class="title">Name </td>
                                                    <td class="break">:</td>
                                                    <td> Amitabh Baidehi</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Phone </td>
                                                    <td class="break">:</td>
                                                    <td> +91 810 213 8309</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Email </td>
                                                    <td class="break">:</td>
                                                    <td> a.baidehi@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Address </td>
                                                    <td class="break">:</td>
                                                    <td> East of Ganga Apartment , Radha Bhawan ,Mainpura, Patna - 1</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Skype </td>
                                                    <td class="break">:</td>
                                                    <td> Amitabh Baidehi</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Linkedin </td>
                                                    <td class="break">:</td>
                                                    <td> amitabh.baidehi</td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Twitter</td>
                                                    <td class="break">:</td>
                                                    <td>amitabh10</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.OWL CAROUSEL2 END-->
                    </div>
                </div>
            </section>
            <!--/.ABOUT END-->

            <!--WorkSKILLS-->
            <section class="white-bg" id="skill">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="title-small">
                                <span>Work Skills</span>
                            </h3>
                            <p class="content-detail">
                                My Professional Skills
                            </p>
                        </div>
                        <div class="col-md-9 content-right">
                            <!--Work SKILLST-->
                            <div class="skillst">
                                <div class="skillbar" data-percent="70%">
                                    <div class="title head-sm">
                                        Analytical Skills
                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                                <div class="skillbar" data-percent="91%">
                                    <div class="title head-sm">
                                        Communication Skills
                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                                <div class="skillbar" data-percent="85%">
                                    <div class="title head-sm">
                                        Technical Skills

                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                                <div class="skillbar" data-percent="63%">
                                    <div class="title head-sm">
                                        Initiative & Self-Reliance
                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                                <div class="skillbar" data-percent="95%">
                                    <div class="title head-sm">
                                        Commitment & Motivation
                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                            </div>
                            <!--/.workSKILLST END-->
                        </div>
                    </div>
                </div>
            </section>
            <!--/.WorkSKILLS END-->


            <!--PersonalSKILLS-->
            <section class="white-bg" id="skill">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="title-small">
                                <span>Personal Skills</span>
                            </h3>
                            <p class="content-detail">
                                My Personal Skills
                            </p>
                        </div>
                        <div class="col-md-9 content-right">
                            <!--SKILLST-->
                            <div class="skillst">
                                <div class="skillbar" data-percent="95%">
                                    <div class="title head-sm">
                                        Motivated

                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                                <div class="skillbar" data-percent="75%">
                                    <div class="title head-sm">
                                        Innovative
                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                                <div class="skillbar" data-percent="65%">
                                    <div class="title head-sm">
                                        Flexibility
                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>
                                <div class="skillbar" data-percent="85%">
                                    <div class="title head-sm">
                                        Teamwork
                                    </div>
                                    <div class="count-bar">
                                        <div class="count"></div>
                                    </div>
                                </div>

                            </div>
                            <!--/.SKILLST END-->
                        </div>
                    </div>
                </div>
            </section>
            <!--/.PersonalSKILLS END-->


            <!--EMPLOYEMENT-->
            <section class="grey-bg" id="employement">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="title-small">
                                <span>Employement</span>
                            </h3>
                            <p class="content-detail">
                                My Working Expirience
                            </p>
                        </div>
                        <div class="col-md-9 content-right">
                            <div class="row">
                                <ul class="listing-item">
                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        Sep 2014 - March 2015

                                                    </h2>
                                                    <p class="job">
                                                        Sales and Marketing Officer

                                                    </p>
                                                    <p class="company">
                                                        Himalaya Herbal Healthcare
                                                    </p>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                            Performed as a link between our pharmaceutical company and doctors, pharmacists and hospital teams ,<br /> Worked independently and as a team to generate professional meetings with health-care
                                                            professionals in order to sell our Baby care products.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        March - April 2016
                                                    </h2>
                                                    <p class="job">
                                                        Excel Expert
                                                    </p>
                                                    <p class="company">
                                                        Dux Technology
                                                    </p>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                            Compile and Generate spreadsheets capturing Key data related to Company' s Contracts<br /> Imported and exported data from text files,saved query,inserted subtotals and used data function.

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="listing-item">

                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        April 2016 - NOW
                                                    </h2>
                                                    <p class="job">
                                                        Software Developer/Web Designer
                                                    </p>
                                                    <p class="company">
                                                        CSDT IT Solutions
                                                    </p>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                            Developed front end public and internal websites as well as back-end server code.<br />Collaborated with designers to create clean interfaces and simple, intuitive interactions. <br /> Carried
                                                            out quality assurance tests to discover errors and optimize usability.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/.EMPLOYEMENT END-->

            <!--SERVICES-->
            <section class="white-bg" id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="title-small">
                                <span>IT Skills</span>
                            </h3>
                            <p class="content-detail">
                                My IT Skills
                            </p>
                        </div>
                        <div class="col-md-9 content-right">
                            <div class="row">
                                <ul class="listing-item">
                                    <li>
                                        <div class="col-md-4 col-sm-4">
                                            <h3 class="icon-use">
                                                c
                                            </h3>
                                            <p class="head-sm">
                                                C#.Net/ASP.Net
                                            </p>
                                            <p class="text-grey">
                                                Worked on Different Types of .Net projects (Windows Form,MVC,Web Application,Xamarine)
                                            </p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-4 col-sm-4">
                                            <h3 class="icon-use">
                                                b
                                            </h3>
                                            <p class="head-sm">
                                                Photoshop
                                            </p>
                                            <p class="text-grey">
                                                Professional Photoshop designer.
                                            </p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-4 col-sm-4">
                                            <h3 class="icon-use">
                                                d
                                            </h3>
                                            <p class="head-sm">
                                                HTML5/CSS

                                            </p>
                                            <p class="text-grey">
                                                Experienced HTML5 developer.
                                            </p>
                                        </div>
                                    </li>
                                </ul>

                                <ul class="listing-item">
                                    <li>
                                        <div class="col-md-4 col-sm-4">
                                            <p class="icon-use">
                                                f
                                            </p>
                                            <p class="head-sm">
                                                MS Office
                                            </p>
                                            <p class="text-grey">
                                                Efficient knowledge of Microsoft Office Bundle (Word,Powerpoint,Excel,Access).
                                            </p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-4 col-sm-4">
                                            <h3 class="icon-use">
                                                p
                                            </h3>
                                            <p class="head-sm">
                                                SQL Server

                                            </p>
                                            <p class="text-grey">
                                                Positive knowledge of TSql,Pl/Sql,Query optimization etc.
                                            </p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-4 col-sm-4">
                                            <h3 class="icon-use">
                                                m
                                            </h3>
                                            <p class="head-sm">
                                                SEO/SMO

                                            </p>
                                            <p class="text-grey">
                                                Favorable skills of Search Engine Optimisation,Social Media Optimisation,Facebook Ads,Gogle Ad
                                            </p>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/.SERVICES END-->

            <!--EDUCATION-->
            <section class="grey-bg" id="education">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="title-small">
                                <span>Education</span>
                            </h3>
                            <p class="content-detail">
                                My Educational Qualification
                            </p>
                        </div>
                        <div class="col-md-9 content-right">
                            <div class="row">
                                <ul class="listing-item">
                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        1999 - 2009
                                                    </h2>
                                                    <p class="job">
                                                        Class X
                                                    </p>
                                                    <p class="company">
                                                        Loyola High School
                                                    </p>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                            Board - CBSE <br /> Marks - 64.8%

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        2010 - 2012
                                                    </h2>
                                                    <p class="job">
                                                        XII
                                                    </p>
                                                    <p class="company">
                                                        Dr. J.N.Mishra Collage
                                                    </p>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                            Board - BSEB <br /> Marks - 70.5%

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="listing-item">
                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        2012 - 2016
                                                    </h2>
                                                    <p class="job">
                                                        Bachelor of Technology

                                                    </p>
                                                    <p class="company">
                                                        RPS Intitute Of Technology

                                                    </p>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                            Branch - Computer Science & Engineering <br /> Marks - 70.5%

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="wrap-card">
                                                <div class="card">
                                                    <h2 class="year">
                                                        Nov 2015 - April 2016
                                                    </h2>
                                                    <p class="job">
                                                        Industrial Training
                                                    </p>
                                                    <p class="company">
                                                        CSDT IT Solutions
                                                    </p>
                                                    <hr>
                                                    <div class="text-detail">
                                                        <p>
                                                            6 Months Industrial Training in C#.Net And ASP.Net
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/.EDUCATION END-->

            <!--TESTIMONIAL-->
            <section id="testimonial">
                <div class="container">
                    <div class="row wrap-testimonial">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="owl-carousel">
                                <div class="list-testimonial">
                                    <div class="content-testimonial">
                                        <h3 class="testi">
                                            “ If you're gonna make connections which are innovative... you have to not have the same bag of experiences as everyone else does.”
                                        </h3>
                                        <p class="people">
                                            Steve Jobs - Apple Inc.
                                        </p>
                                    </div>
                                </div>
                                <div class="list-testimonial">
                                    <div class="content-testimonial">
                                        <h3 class="testi">
                                            “ We all need people who will give us feedback. That's how we improve.”
                                        </h3>
                                        <p class="people">
                                            Bill Gates - Microsoft
                                        </p>
                                    </div>
                                </div>
                                <div class="list-testimonial">
                                    <div class="content-testimonial">
                                        <h3 class="testi">
                                            “ I have a secret project which adds four hours every day to the 24 hours we have. There's a bit of time travel involved.”
                                        </h3>
                                        <p class="people">
                                            Sundar Pichai
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mask-testimonial"></div>
            </section>
            <!--/.TESTMONIAL END-->

            <!--BLOG-->
            <section class="grey-bg" id="blog">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-small-center text-center">
                                <span>Activities</span>
                            </h3>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <p class="content-details text-center">
                                        Some Extra-Curricular Activities

                                    </p>
                                </div>
                            </div>
                            <!--GRID BLOG-->
                            <div class="grid">
                                <div class="grid-item">
                                    <div class="wrap-article">
                                        <img alt="blog-1" class="img-circle text-center" src="{{url_for( 'static',filename='images/blog-1.png' )}}">
                                        <p class="subtitle fancy">
                                            <span>Feb - 2016</span>
                                        </p>
                                        <a href="#">
                                            <h3 class="title">
                                                Foundation of Data Security
                                            </h3>
                                        </a>
                                        <p class="content-blog">
                                            1-week Short Term Course on Foundation of Data Security at NIT, Patna.
                                        </p>
                                    </div>
                                </div>

                                <div class="grid-item">
                                    <div class="wrap-article">
                                        <img alt="blog-4" class="img-circle text-center" src="{{url_for( 'static',filename='images/blog-4.jpg' )}}">
                                        <p class="subtitle fancy">
                                            <span>Jan - 2016
</span>
                                        </p>
                                        <a href="#">
                                            <h3 class="title">
                                                C Programming Course in Admerit, Patna
                                            </h3>
                                        </a>
                                        <p class="content-blog">
                                            One Month Training on C programming.
                                        </p>
                                    </div>
                                </div>

                                <div class="grid-item">
                                    <div class="wrap-article">
                                        <img alt="blog6" class="img-circle text-center" src="{{url_for( 'static',filename='images/blog-6.jpg' )}}">
                                        <p class="subtitle fancy">
                                            <span>December 2015</span>
                                        </p>
                                        <a href="#">
                                            <h3 class="title">
                                                Event Controller
                                            </h3>
                                        </a>
                                        <p class="content-blog">
                                            Active Member of Management team in RPSIT Tech Fest

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--/.GRID BLOG END-->
                        </div>
                    </div>
                </div>
            </section>
            <!--/.BLOG END-->

            <!--CONTACT-->
            <section id="contact" class="white-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3 class="title-small">
                                <span>Contact</span>
                            </h3>
                            <p class="content-detail">
                                Amitabh Baidehi <br /> Address. East of Ganga Apartment ,<br /> Radha Bhawan ,Mainpura, Patna - 1<br /> Mobile. 91 - 810 213 8309 <br /> Email. a.baidehi@gmail.com<br /> Facebook. facebook.com/amitabh.baidehi
                            </p>

                        </div>
                        <div class="col-md-9 content-right">
                            <form>
                                <div class="group">
                                    <input required="" type="text"><span class="highlight"></span><span class="bar"></span><label>Name</label>
                                </div>
                                <div class="group">
                                    <input required="" type="email"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                                </div>
                                <div class="group">
                                    <textarea required=""></textarea><span class="highlight"></span><span class="bar"></span><label>Message</label>
                                </div>
                                <input id="sendMessage" name="sendMessage" type="submit" value="Send Message">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--/.CONTACT END-->

            <!--FOOTER-->
            <footer>
                <div class="footer-top">
                    <ul class="socials">
                        <li class="facebook">
                            <a href="https://www.facebook.com/amitabhbaidehi" data-hover="Facebook">Facebook</a>
                        </li>
                        <li class="twitter">
                            <a href="https://twitter.com/amitab10" data-hover="Twitter">Twitter</a>
                        </li>
                        <li class="gplus">
                            <a href="https://plus.google.com/110444630026264949430" data-hover="Google +">Google +</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <img src="images/big-logoab.png" alt="logo bottom" class="center-block" />
                        </div>
                    </div>
                </div>
            </footer>
            <!--/.FOOTER-END-->

            <!--/.CONTENT END-->
        </div>
        <!--/.CONTENT-WRAP END-->
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/classie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/masonry.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/smooth-scroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/typed.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>